<section class="py-5", style="text-align: center;">
  <h1>Just for you!</h1>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @recommendations.each do |product|%>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <%= image_tag product.product_images.first.image, class: "card-img-top" %>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= product.name %></h5>
                <%= number_to_currency(product.price) %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <%= form_with url: carts_path(id: product.id ), method: :post do |f| %>
                <fieldset>
                  <% if logged_in? %>
                    <%= f.hidden_field :quantily, value: 1, max: 10, min: Settings.carts.min_quantily %>
                    <input
                      type="submit"
                      name="submit"
                      value="Add to cart"
                      class="btn btn-outline-dark mt-auto"/>
                  <% else %>
                    <%= link_to "Add to cart", new_user_session_path, class: "btn btn-outline-dark" %>
                  <% end %>
                </fieldset>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>
