<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</head>

<body>
  <!-- Header-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner1.jpg", class: "d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "discount_banner.jpg", class: "d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner3.jpg", class: "d-block w-100"%>
    </div>
  </div>
</div>

  <!-- Section-->
  <section class="py-5", style="text-align: center;">
    <h1>Best Sellings</h1>
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% @products.each do |p|%>
          <div class="col mb-5">
          <div class="zoom">
            <div class="card h-100">
              <!-- Product image-->

              <%= image_tag p.product_images.first.image, class: "card-img-top" %>

              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= p.name %></h5>
                  <%= number_to_currency(p.price) %>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <%= form_with url: carts_path(id: p.id ), method: :post do |f| %>
                  <fieldset>
                    <% if logged_in? %>
                      <%= f.hidden_field :quantily, value: 1, max: 10, min: Settings.carts.min_quantily %>
                      <input
                        type="submit"
                        name="submit"
                        value="Add to cart"
                        class="btn btn-outline-dark mt-auto"/>
                    <% else %>
                      <%= link_to "Add to cart", new_user_session_path, class: "btn btn-outline-dark" %>
                    <% end %>
                  </fieldset>
                <% end %>
              </div>
            </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </section>
  <% if !@recommendations.nil? %>
    <%= render partial: "recommend",  recommendations: @recommendations %>
  <% end %>
  <!-- For moms -->
  <div style="padding: 0% 2% 6% 2%;">
    <div class="row center"  >
      <div class="col">
        <section class="tag"><h1>Clothings for moms</h1></section>
        <section class="tag"><p><%= Faker::Lorem.sentence(word_count: 80) %></p></section>
        <div class="tag">
          <%= link_to "Explore now", womans_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
      <div class="col tag">
        <%= image_tag "moms_shopping.jpg", style: "width: 550px;" %>
      </div>
    </div>
  </div>

  <!-- For dads -->
  <div style="padding-left: 2%; padding-right: 2%">
    <div class="row center"  >
      <div class="col tag" >
        <%= image_tag "dads_shopping.jpg", style: "width: 550px;" %>
      </div>
      <div class="col">
        <section class="tag"><h1>Clothings for dads</h1></section>
        <section class="tag"><p><%= Faker::Lorem.sentence(word_count: 80) %></p></section>
        <div class="tag">
          <%= link_to "Explore now", mens_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>

    <!-- For kids -->
  <div style="padding: 6% 2% 6% 2%;">
    <div class="row center"  >
      <div class="col">
        <section class="tag"><h1>Clothings for kids</h1></section>
        <section class="tag"><p><%= Faker::Lorem.sentence(word_count: 80) %></p></section>
        <div class="tag">
          <%= link_to "Explore now", "#", class: "btn btn-outline-dark" %>
        </div>
      </div>
      <div class="col tag">
        <%= image_tag "kids_shopping.jpg", style: "width: 550px;" %>
      </div>
    </div>
  </div>
</body>


</html>


<script>
$(document).on("scroll", function() {
  var pageTop = $(document).scrollTop();
  var pageBottom = pageTop + $(window).height();
  var tags = $(".tag");

  for (var i = 0; i < tags.length; i++) {
    var tag = tags[i];

    if ($(tag).position().top < pageBottom) {
      $(tag).addClass("visible");
    } else {
      $(tag).removeClass("visible");
    }
  }
});

</script>


<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
