<tr>
  <th class="align-middle">
    <strong><%= product.name %></strong>
    <br>
    <%= image_tag product.product_images.first&.image.variant(resize_to_fit: [100, 100]) if product.product_images.first&.image %>
  </th>
  <td class="align-middle"><%= number_to_currency product.price, negative_format: "(%u%n)" %></td>
  <td class="align-middle">
    <%= current_cart["#{product.id}"] %>
  </td>
  <td class="align-middle">
    <div class="subtotal"><%= number_to_currency total_price_product(product.id), negative_format: "(%u%n)" %></div>
  </td>
</tr>
