<div class="container">
  <div style = "padding: 3%;">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <div class="card">
          <div style="padding: 3%;">
            <h2>My cart</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Sum</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "product" , collection: @products %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% if current_cart.values.count >= 1 %>
        <div class="col-sm-3">
          <div class="card">
            <div style="padding: 3%; text-align: center;">
              <h5>Number of items: <%= current_cart.values.sum %></h5>
              <h5 class="text-uppercase">Total price</h5>
              <h5>
                <%= number_to_currency total_cart, negative_format: "(%u%n)" %>
              </h5>
              <% if !current_user.nil? %>
                <%= link_to new_order_path do %>
                  <button id="order" type="button" class="btn btn-dark btn-block btn-lg">
                    <%= t ".register" %>
                  </button>
                <% end %>
              <% else %>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <%= t ".register" %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please fill out these informations before checkout</p>
        <%= form_with(url: new_order_path, method: "get") do |f| %>
          <div class="mb-3">
            <%= f.label :Phone %>
            <%= f.text_field :phone %>
          </div>
          <div class="mb-3">
            <%= f.submit "Submit", class: "btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
