<!-- Product section-->
<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6">
      <%= render "image", product: @product %>
    </div>
    <div class="col-md-6">
      <div class="mb-1"><%= @product.category.name %></div>
      <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
      <div class="fs-5 mb-5">
        <span><%= number_to_currency(@product.price) %></span>
      </div>
      <strong>Description</strong>
      <p class="lead"><%= @product.description %></p>
      <div class="d-flex">
        <%= form_with url: carts_path(id: @product.id), method: :post do |f| %>
          <fieldset>
            <% if logged_in? %>
              <%= f.hidden_field :quantily, value: 1, max: 10, min: Settings.carts.min_quantily %>
              <input
                type="submit"
                name="submit"
                value="Add to cart"
                class="btn btn-outline-dark mt-auto"
              />
            <% else %>
              <%= link_to "Add to cart", new_user_session_path, class: "btn btn-outline-dark" %>
            <% end %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Related items section--> <!-- nếu thừa thời gian muốn làm thêm phần sản
phẩm liên quan thì copy lại đoạn này từ
desktop/startbootstrap-shop-item-gh-pages/index --> <!-- Footer-->
<% unless @same_category.nil? %>
<div class="bbb_viewed">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bbb_main_container">
          <div class="bbb_viewed_title_container">
              <h3>Same category</h3>
              <div class="bbb_viewed_nav_container">
                  <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                  <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
              </div>
          </div>
          <div class="bbb_viewed_slider_container">
              <div class="owl-carousel owl-theme bbb_viewed_slider">
                <% @same_category.each do |product| %>
                  <div class="owl-item">
                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                      <%= image_tag product.product_images.first.image.variant(resize_to_fill: [700, 950]), class: "card-img-top" %>
                        <div class="bbb_viewed_content text-center">
                            <%= number_to_currency(product.price, locale: :vi) %>
                            <%= link_to product.name, product_path(product), style: "text-decoration: none; color: black; font-weight: bold;" %>
                        </div>
                        <%= form_with url: carts_path(id: product.id), method: :post do |f| %>
                            <fieldset>
                              <% # if logged_in? %>
                                <%= f.hidden_field :quantily, value: 1, max: 10, min: Settings.carts.min_quantily %>
                                <input
                                  type="submit"
                                  name="submit"
                                  value="Add to cart"
                                  class="btn btn-outline-dark mt-auto"/>
                              <% # else %>
                                <% #= link_to "Add to cart", new_user_session_path, class: "btn btn-outline-dark" %>
                              <% # end %>
                            </fieldset>
                          <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<br><br>
