<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "website_logo.png", style: "height:60px; width:150px"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="font-weight: bold;">For moms</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Men's", products_path("mens"), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider" /></li>
            <li><%= link_to "Men's", mens_path, class: "dropdown-item" %></li>
            <li><%= link_to "Woman's", womans_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="font-weight: bold;">For dads</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><%= link_to "Men's", mens_path, class: "dropdown-item" %></li>
            <li><%= link_to "Woman's", womans_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="font-weight: bold;">For kids</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><%= link_to "Men's", mens_path, class: "dropdown-item" %></li>
            <li><%= link_to "Woman's", womans_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <%= link_to cart_path(id: 2), class: "btn btn-outline-dark" do %>
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">
            <%= current_cart.values.count %>
          </span>
        <% end %>
      </form>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, style: "padding-left: 2%; color: black;" %>
        <%= link_to icon("fa-solid", "user"), edit_user_registration_path, style: "padding-left: 1%; color: black;" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, style: "padding-left: 2%; color: black;" %>
      <% end %>
    </div>
  </div>
</nav>
