<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #faf9f8;">
  <div class="container px-4 px-lg-5">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "website_logo.png", style: "height:60px; width:150px"%>
    <% end %>
    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Category
    </button>
    <!-- Search bar -->
    <%= search_form_for @q, url: products_path, class: "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search",
                        html: { method: :get } do |f| %>
      <div class="input-group" style="padding-left: 3%;">
        <%= f.search_field :name_cont, class: "form-control bg-light border-0 small", style: "background-color: #faf9f8;", placeholder: "Search for..."%>
        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-outline-info") do %>
            <i class="fas fa-search fa-sm"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- End of search bar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>
      <form class="d-flex">
        <%= link_to cart_path(id: 2), class: "btn btn-outline-dark" do %>
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">
            <%= current_cart.values.count %>
          </span>
        <% end %>
      </form>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, style: "padding-left: 2%; color: black;" %>
        <%= link_to icon("fa-solid", "user"), edit_user_registration_path, style: "padding-left: 1%; color: black;" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, style: "padding-left: 2%; color: black;" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      <div class="col" style = "text-align: center;">
        <h3>Mens</h3>
        <% Category.all.includes([:category]).each do |category| %>
          <% if category.category.present? %>
            <% if category.category.id == 1 %>
              <%= link_to category.name, category_path(category), style: "color: black;" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col" style = "text-align: center;">
        <h3>Womans</h3>
        <% Category.all.each do |category| %>
          <% if category.category.present? %>
            <% if category.category.id == 2 %>
              <%= link_to category.name, category_path(category), style: "color: black;"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
