<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>InternRuby2022Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <% if notice %>
      <p class="alert alert-success d_none alert_mess"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert alert-danger alert_mess"><%= alert %></p>
    <% end %>
    <div class="alert_none">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> alert_mess"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
